$white-color:white;
$black-color:black;
$star_wars_color:#FFE81F;
$border-radius:10px;


@mixin spinner{
  float: right;
  width: 50%;
  margin-top: 50px;
}

@mixin noDefaultBorder{
  outline: 0;
}

@mixin padding_border-radius($padding, $border-radius){
  padding: $padding;
  border-radius: $border-radius;

}
@mixin font-size_color( $font-size,$color){
  font-size: $font-size;
  color: $color;
}
@mixin text-align_margin-top($text-align, $margin-top){
  text-align: $text-align;
  margin-top: $margin-top;
}
@mixin border_border-radius_background-color($border,$border-radius, $background-color ){
  border: $border;
  border-radius: $border-radius;
  background-color: $background-color;
}
